{
    "extends": "airbnb",
    "env": {
        "browser": true
    },
    "rules": {
      "react/destructuring-assignment": [0, "always"],
      "react/forbid-prop-types": 0,
      "no-param-reassign": 0,
      "jsx-a11y/no-template-curly-in-string": "off",
      "jsx-a11y/no-noninteractive-element-interactions": "off",
      "jsx-a11y/no-static-element-interactions": "off",
      "jsx-a11y/click-events-have-key-events": "off"
    }
}